<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dc.css">
    <%- include('../layouts/header.ejs') %>
        <style>
            #name {
                position: relative;
                left: 60px;
            }

            #nameth {
                position: relative;
                left: 60px;
                font-weight: lighter;

            }

            #email {
                position: relative;
                left: 150px;

            }

            #emailth {
                position: relative;
                left: 230px;

            }

            #contact {
                position: relative;
                left: 230px;

            }

            #img {
                position: relative;
                left: 390px;

            }

            #verify {
                position: relative;
                left: 560px;

            }
        </style>
</head>

<body>
    <section class="intro">
        <!-- <div class="bg-image h-100" -->
        <!-- style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/tables/img2.jpg');"> -->
        <div class="mask d-flex align-items-center h-100"
            style="background: linear-gradient(90deg,rgb(154, 243, 243),pink);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card bg-dark shadow-2-strong">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table width="50%" class="table table-dark table-borderless mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" id="name"><u>NAME</u></th>
                                                <th scope="col" id="email"><u>EMAIL</u></th>
                                                <th scope="col" id="contact"><u>CONTACTS</u></th>
                                                <th scope="col" id="img"><u>IMAGE</u></th>
                                                <th scope="col" id="verify"><u>VERIFIED</u></th>
                                            </tr>
                                </div>
                                </thead>
                                <tbody>
                                    <% if(users.length> 0){
                                        for (let i = 0;i<users.length;i++) { %>

                                            <tr>
                                                <th scope="row" id="nameth">
                                                    <%= users[i].name %>
                                                </th>
                                                <td id="emailth">
                                                    <%= users[i].email %>
                                                </td>
                                                <td id="contact">
                                                    <%= users[i].mobile %>
                                                </td>
                                                <td><img src="/userImages/<%= users[i].image %>"
                                                        alt="<%= users[i].image %>" width="100px" height="100px"
                                                        id="img">
                                                </td>
                                                <td id="verify">
                                                    <% if(users[i].is_varified==0) { %>
                                                        <p>Not Verified</p>
                                                        <% }else{ %>
                                                            <p>Verified</p>
                                                            <% } %>
                                                </td>
                                            </tr>

                                            <% } } else{ %>
                                                <tr>
                                                    <td colspan="5">User Data Not Found</td>
                                                </tr>
                                                <% } %>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <!-- <a href="/admin/home">Go to Home</a> -->
</body>

</html>